/*----------- Custom Properties ------------*/
:root {
    --gold-color: #EFB810;
    
    --gold-oscuro-color: #DDA90D;
    --gold-claro-color: #F8D653;

    --dark-color: #202124;
    --dark-color-75: #3f4042;
    --dark-color-50: #5d5d5f;
    --darl-color-25: #949494;

    --white-color: #fff;

    --font-times:'Times New Roman', Times, serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-lato: 'Lato', sans-serif;
}
/*----------- Reset ------------*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-lato);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color:var(--gold-oscuro-color);
    text-decoration:underline;
    transition: all .6s all ease;
}
a:hover {
    opacity: .75;
}

h1 {
    font-size: 2rem;
    font-family: var(--font-home);
    text-align: center;
    line-height: 42px;
    letter-spacing: 10%;
    font-weight:100;
    /* agregar sombra */
}

h2 {
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    color: var(--gold-color);

    padding: 1.75rem;
}

p {
    font-size: 1rem;
}

section {
    min-height: 100vh;
}


/*----------- Componentes ------------*/
.btn{
    cursor: pointer;

    font-size: 14px;
    font-family: var(--font-lato);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);

    /* width: 100%; */

    padding: 10px;

    border: none;
    border-radius: 5px;
    background-color: var(--gold-color);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25); /* esto en realidad esta mal, tenemos que hacerlo con variable */
    
}
.btn-transparent{
    background-color: transparent;
    color: var(--gold-color);
    border: 1px solid var(--gold-color);
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.card-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 175px;
    text-align: center;
    color: var(--dark-color-75);
    font-family: var(--font-raleway);
    font-size: 12px;

}
.card-service img {
    width: 50px;
    height: 46px;
}

.hero-image {
    min-height: 100vh;

    background-image: url(../assets/home-bg.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}
.hero-image .home-text {
    width: 100%;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-image h1 {
    width: 50%;
    color: var(--white-color);
}
.hero-image span {
    color: var(--white-color);
    font-family: var(--font-lato);
    font-size: 1rem;
}


.text {
    margin: 0 2rem;

    font-family: var(--font-lato);
    font-size: 14px;
    line-height: 21px;
    color: var(--dark-color-75);
    text-align: justify;
}

footer {
    padding:22px;
    text-align: center;
    color: white;
    background-color: var(--dark-color);
}
/*----------- Utilities ------------*/

/* aca crear la sombra */

/* box-shadow: 1px 3px 10px 1px rgba(180, 180, 180, 0.75); */

